.burger{
  position: relative;
}

.burger-menu{
  display: none;
  width: 394px;
  height: 421px;
  background-color: #F2F0F1;
  border-bottom: 10px solid #FF8A00;
  position:absolute;
  top:30px;
  left: 0px;
  z-index:150;
}

.burger-menu__list{
  padding-top: 67.5px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  gap:31px;
}

.burger-menu__item{
  font-family: 'Helvetica Neue Cyr-light', serif;
  font-weight: 550;
  line-height: 30px;
  color: #282626;
  font-weight: 550;
  font-size: 20px;
  border-bottom: 1px solid #FF8A00; 
}

